.navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 10px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.nav-item a:hover, .nav-item.active a {
    background-color: #555;
    border-radius: 5px;
}

.nav-item .nav-link-button {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    display: block;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

.nav-item .nav-link-button:hover {
    background-color: #555;
    border-radius: 5px;
}
